html 
    head    
        title= name 
    body    
        h1= Comment
        h1 Your name:
        h3= `${name1}`
        
        h2 Your age:   
        h3=  `${age}`

        h2 Your Gender 
        h3= `${gender}`

        h2 Your EmailId 
        h3= `${email}`