html 
    head 
        title= title 
    body 
        |This is what you have entered 
        
        p  
            h1 Your name is 
            h4= users.name   
            h1 Your age is 
            h4= users.Age
            h1 Your Gender is  
            h4= users.Gender
            h1 Your EmailId is 
            h4= users.Email
            h1 Your Password is 
            h4= users.Password