html 
    head    
        title= name 
    body    
        h1= Comment
        h1 Your name:
        h3= `${user.name1}`
        
        h2 Your age:   
        h3=  `${user.age}`
        //- if (error.age)
        //- h5= `${error.age.msg}`

        h2 Your Gender 
        h3= `${user.Gender}`

        h2 Your EmailId 
        h3= `${user.Email}`